@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-size: 1.2em;
  margin-top: 0.15em;
  margin-bottom: 0.5em;
}
video::-webkit-media-controls-panel {
  width: 40px;
  background-image: none;
}

.minimal-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.minimal-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}

.minimal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
